* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}


.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.forgot-password-form {
    background-color: rgba(22, 22, 22, 0.8); /* Darker background with transparency */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(71, 68, 68, 0.5);
    max-width: 400px;
    width: 100%;
}

.forgot-password-form h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: #b0b0b0;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background-color: #4e4e4e;
    border: 1px solid #b2acac;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    border-color: #6264a7;
    background-color: #494966;
}

.btn-reset {
    background-color: #5a7dff;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-reset:hover {
    background-color: #4861d7;
}

.alternative-option {
    text-align: center;
    margin-top: 10px;
}

.alternative-option a {
    color: #5a7dff;
    text-decoration: none;
}

.alternative-option a:hover {
    text-decoration: underline;
}
