{% extends 'base.html' %} 

{% block title %} 
  Password Reset
{% endblock %} 

{% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/forgot_password.css')}}"
/>
{% endblock %} {% block content %}
<div class="forgot-password-container mt-5">
  <div class="forgot-password-form">
    <h2>Forgot your Password?</h2>
    <form
      id="resetPasswordForm"
      method="POST"
      action="{{ url_for('forgot_password') }}"
    >
      <!-- Security Question Answer -->
      <div class="input-group">
        <label for="securityAnswer"
          >Security Question:enter your email</label
        >
        <input
          type="text"
          id="securityAnswer"
          name="securityAnswer"
          placeholder="Enter your mail"
          required
        />
      </div>

      <!-- New Password -->
      <div class="input-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="Enter new password"
          required
        />
      </div>

      <!-- Confirm Password -->
      <div class="input-group">
        <label for="confirmPassword"
          >Confirm Password</label
        >
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm new password"
          required
        />
      </div>

      <div class="input-group">
        <button type="submit" class="btn-reset">
          Reset Password
        </button>
      </div>
      <div class="alternative-option">
        <a href="#">Try another way</a>
      </div>
    </form>
  </div>
</div>
{% endblock %} 

{% block script %}
<!-- JS for form validation and background image animation -->
<script src="/static/js/forget_password.js"></script>
{% endblock %}
