{% extends 'base.html' %} 
{% block title %} 
  CancerRecognition - Home Page 
{% endblock %} 

{% block content %}
  <h2>Cancer Recognition</h2>
  <p>
    Welcome to CancerAI, where cutting-edge
    technology meets life-saving healthcare. Our platform
    leverages the power of artificial intelligence to
    revolutionize cancer detection, providing faster, more
    accurate, and reliable diagnoses. By combining advanced
    machine learning algorithms with medical expertise, we aim
    to support doctors, enhance early detection, and
    ultimately improve patient outcomes. Whether you're a
    healthcare professional, researcher, or patient, our
    mission is to empower you with innovative AI-driven
    solutions to recognize cancer at its earliest
    stages—because early recognition can make all the
    difference. Explore the future of cancer diagnosis today.
  </p>
{% endblock %}
